[Unit]
Description=Run wplan.service around 10:00 (+-5 min jitter)

[Timer]
OnCalendar=Mon..Fri *-*-* 09:55:00
RandomizedDelaySec=600
Persistent=true
Unit=wplan.service

[Install]
WantedBy=timers.target
